.leaflet-game-stats-control {
  background: white;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.leaflet-game-stats-control .stat-row {
  align-items: center;
}

.leaflet-game-stats-control .stat-value {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
