.leaflet-map-wrapper {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background: #1a1a2e;
}

.train-marker {
  border: none;
  background: transparent;
}

.neighborhood-marker {
  border: none;
  background: transparent;
  cursor: pointer;
}

.station-marker {
  border: none;
  background: transparent;
  cursor: pointer;
}

.station-marker.crowded {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.citizen-marker {
  border: none;
  background: transparent;
  cursor: pointer;
}

.station-placement-indicator {
  border: none;
  background: transparent;
  pointer-events: none;
}
