.leaflet-map-wrapper {
  height: 100%;
  width: 100%;
}

.leaflet-container {
  background: #1a1a2e;
}

.train-marker {
  border: none;
  background: transparent;
}

.neighborhood-marker {
  border: none;
  background: transparent;
  cursor: pointer;
}

.station-marker {
  border: none;
  background: transparent;
  cursor: pointer;
}

.crowded {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate(-0.25px, 0);
  }
  
  20%, 80% {
    transform: translate(0.5px, 0);
  }

  30%, 50%, 70% {
    transform: translate(-1px, 0);
  }

  40%, 60% {
    transform: translate(1px, 0);
  }
}

.citizen-marker {
  border: none;
  background: transparent;
  cursor: inherit;
}

.station-placement-indicator {
  border: none;
  background: transparent;
  pointer-events: none;
}
